name: CMake on windows-latest platform
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build_and_test:
    name: "Build and test"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]  # 使用 GitHub 提供的 Linux 和 Windows 镜像构建
    runs-on: ${{ matrix.os }}  # 根据矩阵选择运行系统
    steps:
    - name: Install dependencies (linux)
      run: sudo apt install ninja-build
      if: matrix.os == 'ubuntu-latest'  # 条件执行，仅在 Ubuntu 上运行
    - name: Install Ninja (windows)
      run: choco install ninja  # Windows 上安装 Ninja
      if: matrix.os == 'windows-latest'
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.8.2'  # 安装指定版本的 Qt
    - uses: ilammy/msvc-dev-cmd@v1  # Windows 下配置 MSVC 编译环境
    - uses: actions/checkout@v3  # 拉取源代码
    - name: Build
      run: cmake -S . -B build -G "Ninja Multi-Config" && cmake --build build --config Debug
